*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(60, 60, 60);
}
div{
    text-align: center;
    width: 300px;
    margin: 6px auto;
}

header{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 28px;
    background-color: white;
    border-radius: 6px;

}

footer{
    text-align: center;
    margin-bottom: 12px;
    font-size: 12px;
    opacity: 0.4;
    transition: opacity 200ms;
}

dl{
    list-style: none;
    margin: 20px 0;
}

input{
    height: 40px;
    width: 200px;
    align-items: center;
    margin-bottom: 12px;
    color: rgb(73,71,71);
    border-radius: 6px;
    text-align: center; 
}

p{
    font-size: 25px;
    color: white;
}

button{
    height: 40px;
    width: 200px;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 6px;
    color: white;
    background-color: green;
    transition: background 400ms;
}

button:hover{
    background: rgba(250, 248, 248, 0.376);
}
